<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSLink" version="0.2.5-alpha" targetFramework="net45" />
  <package id="Mono.Options-PCL" version="2.0.40" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.6.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net45" />
  <package id="Portable.BouncyCastle-Signed" version="1.7.0.2" targetFramework="net45" />
  <package id="SpotifyAPI-NET" version="2.10.1" targetFramework="net45" />
  <package id="Websockets.Pcl" version="1.1.9" targetFramework="net45" developmentDependency="true" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net45" />
</packages>